body {
    background: #70e1f5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    margin-left: 10px;
}

form {
    background: linen;
    padding: 50px 20px;
    border-radius: 10px;
    opacity: 0.9;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}