/* .tableStylings {
    background: white;
    border-radius: 10px;
    padding: 20px 20px;
} */

.employee {
    width: 50%;
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px #888888;
    margin: 10px;
}

.table {
    text-align: center;
}